# Ignore virtual environment folder (adjust the folder name if necessary)
venv/
myenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# OS specific files
.DS_Store
Thumbs.db
